<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<key>application-identifier</key>
	<string>CSKKFDCJAD.com.sri.estoque</string>
	
	<key>beta-reports-active</key>
	<true/>
	<key>get-task-allow</key>
	<false/>
	<key>com.apple.developer.team-identifier</key>
	<string>CSKKFDCJAD</string>
	<key>keychain-access-groups</key>
	<array>
		<string>CSKKFDCJAD.com.sri.estoque</string>
		<string>com.apple.token</string>
	</array>
</dict>
</plist>
